p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 15.0px Helvetica}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica}
p.p3 {margin: 10.0px 0.0px 0.0px 0.0px; font: 13.0px Calibri; color: #4d93cb}
p.p4 {margin: 0.0px 0.0px 0.0px 31.5px; font: 12.0px Helvetica}
p.p5 {margin: 0.0px 0.0px 0.0px 31.5px; font: 12.0px Helvetica; min-height: 14.0px}
p.p6 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica; min-height: 14.0px}
p.p7 {margin: 0.0px 0.0px 0.0px 36.0px; font: 12.0px Helvetica}
p.p8 {margin: 0.0px 0.0px 0.0px 36.0px; font: 12.0px Helvetica; min-height: 14.0px}
p.p9 {margin: 0.0px 0.0px 10.0px 36.0px; font: 12.0px Helvetica}
p.p10 {margin: 0.0px 0.0px 10.0px 0.0px; font: 12.0px Helvetica}
p.p11 {margin: 0.0px 0.0px 10.0px 0.0px; font: 12.0px Helvetica; min-height: 14.0px}
p.p12 {margin: 0.0px 0.0px 10.0px 0.0px; font: 12.0px Cambria; min-height: 14.0px}
p.p20 {margin: 0.0px 0.0px 10.0px 0.0px; font: 12.0px Cambria; min-height: 14.0px; font-style:italic; font-weight:bold}
li.li10 {margin: 0.0px 0.0px 10.0px 0.0px; font: 12.0px Helvetica}
span.s1 {text-decoration: underline ; color: #0000ff}
span.Apple-tab-span {white-space:pre}
table.t1 {border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000; border-collapse: collapse}
td.td1 {width: 72.9px; background-color: #e6e6e6; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000; padding: 0.0px 5.0px 0.0px 5.0px}
td.td2 {width: 85.5px; background-color: #e6e6e6; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000; padding: 0.0px 5.0px 0.0px 5.0px}
td.td3 {width: 153.0px; background-color: #e6e6e6; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000; padding: 0.0px 5.0px 0.0px 5.0px}
td.td4 {width: 72.9px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000; padding: 0.0px 5.0px 0.0px 5.0px}
td.td5 {width: 85.5px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000; padding: 0.0px 5.0px 0.0px 5.0px}
td.td6 {width: 153.0px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000; padding: 0.0px 5.0px 0.0px 5.0px}
td.td7 {width: 221.4px; background-color: #ebebeb; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000; padding: 0.0px 5.0px 0.0px 5.0px}
td.td8 {width: 221.4px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000; padding: 0.0px 5.0px 0.0px 5.0px}
ul.ul1 {list-style-type: check}
ul.ul2 {list-style-type: hyphen}
